* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.image-grid {
  display: flex;
  gap: 5px;
  width: 80%;
  height: 55vh;
  margin: 50px auto;
}

.image-box {
  width: 50%;
  height: 100%;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  display: block;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image-row {
  display: flex;
  gap: 5px;
  height: calc(50% - 2.5px);
}

.image-row div {
  width: 100%;
}

.image-row div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Round top-right and bottom-right corners */
.image-row:first-child div:nth-child(2) img {
  border-top-right-radius: 15px;
}
.image-row:last-child div:nth-child(2) img {
  border-bottom-right-radius: 15px;
}